---
import Layout from "@/layouts/Layout.astro";
import { Picture } from "astro:assets";
import Map from "@/components/Map.astro";
import Cv from "@/components/Cv.astro";
import Reviews from "@/components/Reviews.astro";
---

<Layout>
  <div class="max-w-[750px] mx-auto">
    <section class="bg-[#DDE6E5]">
      <Picture
        src={import("@/assets/fv.png")}
        formats={["avif", "webp"]}
        alt="fv"
      />
      <div class="px-4 pb-6">
        <Cv />
      </div>
    </section>
    <section>
      <Picture
        src={import("@/assets/solution.png")}
        formats={["avif", "webp"]}
        alt="solution"
      />
    </section>
    <section>
      <Picture
        src={import("@/assets/customer.png")}
        formats={["avif", "webp"]}
        alt="customer"
      />
      <div class="px-4 py-6">
        <Reviews />
      </div>
      <div class="px-4 pb-6">
        <Cv />
      </div>
    </section>
    <section>
      <Picture
        src={import("@/assets/evidence.png")}
        formats={["avif", "webp"]}
        alt="evidence"
      />
      <div class="px-4 py-6">
        <Cv />
      </div>
    </section>
    <section>
      <Picture
        src={import("@/assets/check.png")}
        formats={["avif", "webp"]}
        alt="check"
      />
      <div class="bg-[#F1F1F1]">
        <Picture
          src={import("@/assets/cv-header.png")}
          formats={["avif", "webp"]}
          alt="cv header"
        />
        <div class="px-4 pb-6">
          <Cv />
        </div>
      </div>
    </section>
    <section>
      <Picture
        src={import("@/assets/faq.png")}
        formats={["avif", "webp"]}
        alt="faq"
      />
    </section>
    <section>
      <Picture
        src={import("@/assets/access.png")}
        formats={["avif", "webp"]}
        alt="access"
      />
      <Map />
    </section>
  </div>
</Layout>
