---
import { Picture } from "astro:assets";

const CV_LINK = 'https://airrsv.net/nagara-tenjin-seikotsuin/calendar';
---

<a href={CV_LINK} target="_blank" rel="noopener noreferrer" class="flex justify-center">
  <Picture
    src={import("@/assets/cv-button.svg")}
    formats={["avif", "webp"]}
    alt="cv button"
  />
</a>
